export CC=/usr/bin/clang
export CXX=/usr/bin/clang++

export CMAKE_EXPORT_COMPILE_COMMANDS=ON
export CMAKE_GENERATOR=Ninja
export CMAKE_BUILD_PARALLEL_LEVEL=$(nproc)
export CMAKE_C_COMPILER_LAUNCHER=ccache
export CMAKE_CXX_COMPILER_LAUNCHER=ccache
export CMAKE_BUILD_TYPE=RelWithDebInfo
export CCACHE_BASEDIR=$(git root)
